@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0, 0%, 98%;
		--foreground: 240, 10%, 3.9%;
		--background-deep: 0, 0, 100%;
		--card: 0, 100%, 100%;
		--card-border: 0, 100%, 100%;
		--accent: 240, 9%, 10%;
		--card-foreground: 240, 10%, 3.9%;
		
	}
	
	.dark {
		--background: 0, 0%, 5%;
		--foreground: 0, 0%, 95%;
		--background-deep: 0, 0, 100%;
		--card: 24, 9.8%, 10%;
		--card-border: 0, 1%, 15%;
		--accent: 0, 0%, 77%;
		--card-foreground: 0, 0%, 95%;
	}
}
