@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply border border-neutral-700/20 px-4 py-5 rounded-lg flex w-full items-center justify-center transition-all duration-200;
	}

	.contains {
		@apply max-w-screen-lg w-full flex;
	}

	.col {
		@apply flex flex-col;
	}

	.glow-overlay {
		--glow-size: 25rem;
		position: absolute;
		inset: 0;
		pointer-events: none;
		user-select: none;
		opacity: var(--glow-opacity, 0);
		mask: radial-gradient(
			var(--glow-size) var(--glow-size) at var(--glow-x) var (--glow-y),
			var(--glow-color) 1%,
			trasparent 50%
		);
		transition: 400ms mask ease;
		will-change: mask;
		
	}
}

@layer base {
	:root {
		--background: 0, 0%, 98%;
		--foreground: 240, 10%, 3.9%;
		--background-deep: 0, 0, 100%;
		--card: 0, 100%, 100%;
		--card-border: 0, 100%, 100%;
		--accent: 240, 9%, 10%;
		--card-foreground: 240, 10%, 3.9%;
	}

	.dark {
		--background: 0, 0%, 5%;
		--foreground: 0, 0%, 95%;
		--background-deep: 0, 0, 100%;
		--card: 24, 9.8%, 10%;
		--card-border: 0, 1%, 15%;
		--accent: 0, 0%, 77%;
		--card-foreground: 0, 0%, 95%;
	}
}

* {
	transition: all .2s;
}